body {
    background-color: #A9A9A9;
}
#header{
    text-align: center;

}
h1 {
    color: #fffed6;

}
li:nth-last-child(1) {
    text-decoration: underline;
}
li:nth-child(2) {
    background-color: #D3D3D3;
}
li,a {
    display: block;
    text-decoration: none;
    color: white;
}

#footer {
    text-align: center;
}

