body {
    background: #595959;
}
header {
    color: #989898;
}

table td {
    color: #cfdcd4;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .7em;
}
.italic {
    font-style: italic;
}
.info {
    color: #ada27e;
}
#special:before {
    background-image: url("greenCircle.png");
    background-size: 10px 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    content:"";
}
#special {
    color: #ada27e;
    font-style: normal;
}
#support {
    color: red;
    font-style: normal;
}
span {
    color:orange;
}